In [68]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
from word2number import w2n

In [69]:
df = pd.read_csv("hiring.csv")
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

# The experience is in words, so use word2number to convert it to numbers and replace with numbers

In [70]:
df.experience = df['experience'].fillna('zero')
print(df['experience'])
exarray = []
for ex in df['experience']:
    exarray.append(w2n.word_to_num(ex))

0      zero
1      zero
2      five
3       two
4     seven
5     three
6       ten
7    eleven
Name: experience, dtype: object

In [71]:
df.experience = exarray
print(df)

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    NaN                           7      72000
7          11                    7.0                           8      80000

# Now to replace the NAN with a median of test_scores

In [72]:
import math
testScoreMedian = math.floor(df['test_score(out of 10)'].mean())
print(testScoreMedian)

7

In [73]:
df['test_score(out of 10)'] = df['test_score(out of 10)'].fillna(testScoreMedian)
print(df)

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    7.0                           7      72000
7          11                    7.0                           8      80000

# Now the data is ready and we can fit it to the model

In [74]:
reg = linear_model.LinearRegression()
reg.fit(df[['experience', 'test_score(out of 10)', 'interview_score(out of 10)']], df['salary($)'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [75]:
reg.coef_

array([2922.26901502, 2221.30909959, 2147.48256637])

In [76]:
reg.intercept_

14992.65144669314

In [77]:
reg.predict([[2, 9, 6]])

array([53713.86677124])

In [78]:
reg.predict([[12, 10, 10]])

array([93747.79628651])